
<div class="container wrapper">
<mat-drawer-container class="mat_drawer-container" autosize>
  <mat-drawer #drawer class="sidenav_container" mode="side">
    <app-sidenav></app-sidenav>
    <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p> -->
    <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
 
  </mat-drawer>
  <!-- <router-outlet></router-outlet> -->
  <div class="sidenav_content-container">
  
  <div class="sidenav-content">
  
    <a class="btn" type="button" mat-button (click)="drawer.toggle()">
      <span></span>
      <span></span>
      <span></span>
    </a>
    </div>
  </div>
  <router-outlet></router-outlet>

</mat-drawer-container>
<footer>
  <p>&#169; Copyright 2021</p>
</footer>
</div>
