// @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

.sidenav {
    padding: 2em;
  h1 a {
      text-decoration: none;
      text-align: center;
      font-size: 6.5rem;
      line-height: 1;
      color: #200589;
      font-family: 'Teko', sans-serif;
      font-weight: 800;
      text-shadow: 0 5px #FF69B4;
  }
.sidenav_link {
    list-style-type: none;
    padding: 1em;
    a {
        text-decoration: none;
        font-size: 2.5em;
        // color: #FBF8FD;
        color: #FF69B4;
        text-shadow: 0 2px 0 #200589;
        background-color: transparent;
    }
   
}

a:hover {
    color: #B026FF;
    opacity: 50%;
    transform: scale(1.02);
}
}

.social-media_container {
    padding: 0 2em;
    .icon {
        padding: .25em;
        cursor: pointer;
        // color: #fbf8fd;
        color: #FF69B4;
    }
}