<ul class="sidenav">
    <h1><a routerLink="/">{{title}}</a></h1>
    <li class="sidenav_link">
        <a mat-menu-item routerLink="/about" routerLinkActive="active">About</a>
    </li>
    <li class="sidenav_link">
        <a mat-menu-item routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    </li>
    <li class="sidenav_link">
        <a mat-menu-item routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
</ul>

<div class="social-media_container">
    <a href="https://twitter.com/raystratos" target="_blank"><fa-icon class="icon fa-2x" [icon]="faTwitter"></fa-icon></a>
    <a href="https://instagram.com/ray_stratos" target="_blank"><fa-icon class="icon fa-2x" [icon]="faInstagram"></fa-icon></a>
    <a href="https://twitter.com/raystratos" target="_blank"><fa-icon class="icon fa-2x" [icon]="faDiscord"></fa-icon></a>
    <a href="https://linkedin.com/in/reganlussier" target="_blank"><fa-icon class="icon fa-2x" [icon]="faLinkedin"></fa-icon></a>
</div>